body{
	color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 2.5;
}
#navbar {
  position: fixed;
  height: 100%;
}
#navbar header{
  text-align: center;
}
#navbar li, a{
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
#navbar a:hover{
  background-color: #ccc;
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}
#main-doc{
  margin-left: 30%;
  margin-right: 3%;
}

#Video_Crash_Course{
  text-align: center;
}
@media (max-width: 450px){
  body{
    font-size: 0.9rem;
  }
  #navbar{
    position: relative;
  }
  #main-doc{
    margin: 3px;
  }
  iframe{
    width: 100%;
  }
}